@import '../../assets/vars';

.container {
    .card {
        border: 1px solid $border;
        border-radius: 3px;
    }
    background-color: $background;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 50px;
    @media (min-width: 1024px){
        padding-top: 70px;
    }
    @media (max-width: 1023px){
        padding-top: 115px;
    }

    .btn-fixed {
        bottom: 60px;
        right: 50px;
        position: fixed;
        display:block;
        .button {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
    table {
        tbody {
            tr {
                &:hover {
                    background-color: #EBEBEB;
                    cursor: pointer;
                }
                td {
                    padding: 15px;
                }
            }
        }
    }
}
.nav-bottom {
    border-top: 1px solid $border;
    height: 40px;
}