<app-navbar></app-navbar>
<div class="container is-fluid">
    <app-medical-procedure-details *ngIf="details" [details]="details"></app-medical-procedure-details>
    <div *ngIf="!details" class="columns">
        <div class="column">
            <app-card-counter icon="fa-check" isSuccess="true" title="Aprovados" total=10></app-card-counter>
        </div>
        <div class="column">
            <app-card-counter icon="fa-ban" isDanger="true" title="Reprovados" total=10></app-card-counter>
        </div>
        <div class="column">
            <app-card-counter icon="fa-question" isInfo="true" title="Pendentes" total=10></app-card-counter>
        </div>
    </div>
    <div *ngIf="!details" class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <div class="columns">
                            <div class="column">


                            </div>
                            <div class="column">

                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Procedimento</th>
                                    <th>Sexo</th>
                                    <th>Idade</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="4"></td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let procedure of procedures; index as i;" (click)="showDetails(procedure)">
                                    <td
                                        [title]="procedure.status"
                                        style="width: 5px">
                                        <span class="icon">
                                            <i class="fas"
                                            [ngClass]="{'fa-check': isApproved(procedure),
                                            'fa-ban': isDisapproved(procedure),
                                            'fa-question': isPending(procedure)}"></i>
                                        </span>
                                    </td>
                                    <td>{{procedure.procedimento}}</td>
                                    <td>{{procedure.sexo}}</td>
                                    <td>{{procedure.idade}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons btn-fixed">
        <button class="button is-primary" (click)="showDetails()" *ngIf="!details">
            <span class="icon is-large">
                <i class="fas fa-2x fa-plus"></i>
            </span>
        </button>
        <button (click)="closeDetails()" class="button is-primary" *ngIf="details">
            <span class="icon is-large">
                <i class="fas fa-2x fa-check"></i>
            </span>
        </button>
    </div>
</div>
<nav class="navbar nav-bottom is-fixed-bottom">
    <div class="navbar-brand">
        <a class="navbar-item">
            Copyright
        </a>
    </div>
</nav>