<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item">
                Procedimentos Médicos
            </a>
        </div>
        <div class="navbar-start">
            <div class="control has-icons-left has-icons-right search">
                <input class="input " type="text" placeholder="Buscar procedimento">
                <span class="icon is-left ">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
        <div class="navbar-end">
            <!-- <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        Sair
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</nav>