<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <div class="dropdown"
                (click)="toggleMenu()"
                [ngClass]="{'is-active': showMenu}">
                <div class="dropdown-trigger">
                    <button 
                        class="button menu-options"
                        aria-haspopup="true"
                        aria-controls="dropdown-menu2">
                        <span class="icon is-large">
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content">
                        <a href="#" (click)="logout" class="dropdown-item">
                            Sair
                        </a>
                    </div>
                </div>
            </div>
            <a class="navbar-item navbar-title">
                Procedimentos Médicos
            </a>
        </div>
        <div class="navbar-start">
            <div class="control has-icons-left has-icons-right search">
                <input class="input " type="text" placeholder="Buscar procedimento">
                <span class="icon is-left ">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
        <div class="navbar-end">
            <!-- <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        Sair
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</nav>