<div class="container is-fullhd">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <div class="system-title">Procedimentos médicos</div>
                <div class="field">
                    <label class="label">Login</label>
                    <div class="control has-icons-left has-icons-right">
                        <input
                            (keyup.enter)="login()"
                            [(ngModel)]="username"
                            class="input"
                            type="text"
                            placeholder="Login">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control has-icons-left has-icons-right">
                        <input
                            (keyup.enter)="login()"
                            [(ngModel)]="password"
                            type="password"
                            class="input"
                            type="text"
                            placeholder="Senha">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button (click)="login()" class="btn-login button is-primary">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>