.header {
    border-bottom: solid 1px #DADADA;
    .header-title {
        margin-bottom: 3px;
        button {
            margin-top: -5px;
        }
    }
}
.btn-fixed {
    bottom: 60px;
    right: 50px;
    position: fixed;
    display:block;
    .button {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}
.procedure-title {
    font-weight: bold;
}