<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="columns header">
                <div class="column header-title">
                    <b>{{title}}</b>
                    <button id="back" class="button back is-pulled-right" (click)="back()">
                        <span class="icon">
                            <i class="fas fa-1x fa-arrow-left"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="field" *ngIf="details.id === 0">
                <label class="label">Procedimento</label>
                <div class="control">
                    <input id="procedure" (click)="$event.target.select()" [(ngModel)]="details.procedimento" class="input"
                        type="number" placeholder="Procedimento">
                </div>
            </div>
            <div class="field">
                <label class="label">Sexo</label>
                <div class="control">
                    <div class="select">
                        <select [(ngModel)]="details.sexo">
                            <option value="">Selecione</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Idade</label>
                <div class="control">
                    <input id="old" (click)="$event.target.select()" [(ngModel)]="details.idade" class="input" type="number"
                        placeholder="Idade">
                </div>
            </div>
            <div class="field">
                <label class="label">Status</label>
                <div class="buttons has-addons">
                    <button class="button" *ngIf="!isNew()" (click)="approve()" [ngClass]="{'is-success': isApproved()}">
                        Aprovado</button>
                    <button class="button" (click)="pending()" [ngClass]="{'is-info': isPending()}">
                        Pendente</button>
                    <button class="button" *ngIf="!isNew()" (click)="disapprove()" [ngClass]="{'is-danger': isRepproved()}">
                        Reprovado</button>
                </div>
            </div>
            <div class="field" *ngIf="!isPending()">
                <label class="label" *ngIf="isRepproved()">Motivo</label>
                <label class="label" *ngIf="isApproved()">Mensagem</label>
                <div class="control">
                    <textarea [readonly]="!isAdmin()" class="textarea" [(ngModel)]="details.motivo"
                        rows="3">
                    </textarea>
                </div>
            </div>
            <div class="buttons" (click)="remove()" *ngIf="details.id !== 0 && isAdmin()">
                <button class="button is-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>
<div class="buttons btn-fixed">
    <button id="update" (click)="save()" class="button is-primary">
        <span class="icon is-large">
            <i class="fas fa-2x fa-check"></i>
        </span>
    </button>
</div>